<div class="container mt-5 mb-5">
<div class="list-group">
    <a href="https://angular.io" class="list-group-item list-group-item-action flex-column align-items-start ">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Version</h5>
        <small>ng --version</small>
      </div>
      <p class="mb-1">Angular CLI: 11.2.12, Node: 14.16.1, Bootstrap: 5.0.1, NPM 7.10.0</p>
    </a>
    <a href="https://angular.io/cli" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">ng CLI commands</h5>
          <small>ng</small>
        </div>
        <p class="mb-1">ng new, ng g c, ng g d, ng g p, ng g m, ng g s, ng serve, --skip-tests=true</p>
      </a>
    <a href="https://angular.io/api/core/Directive" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Basics</h5>
        <small class="text-muted">Components</small>
      </div>
      <p class="mb-1">Binding & Directives</p>
    </a>
    <a href="https://angular.io/api/core/Pipe" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Pipes</h5>
          <small class="text-muted">date in /dashboard:id</small>
        </div>
        <p class="mb-1">Pre-defined pipes</p>
      </a>
    <a href="https://angular.io/guide/architecture-services" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Services and Dependency Injection</h5>
        <small class="text-muted">dbService.service.ts, user-auth.service.ts</small>
      </div>
      <p class="mb-1">Network Service</p>
    </a>
    <a href="https://angular.io/guide/router" class="list-group-item list-group-item-action flex-column align-items-start" disable>
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Routing</h5>
          <small class="text-muted">/register, /admin, /dashboard:id, **</small>
        </div>
        <p class="mb-1">Wildcard routes, Params</p>
      </a>
      <a href="https://angular.io/api/router/CanActivate" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Auth Guard</h5>
          <small class="text-muted">/dashboard:id</small>
        </div>
        <p class="mb-1">CanActivate</p>
      </a>
      <a href="https://angular.io/guide/reactive-forms" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Forms</h5>
          <small class="text-muted">Login, Register, StudentDetails</small>
        </div>
        <p class="mb-1">Reactive Forms, Validation</p>
      </a>
      <a href="https://angular.io/guide/http" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">HTTP requests</h5>
          <small class="text-muted">GET/POST User, GET/POST StudentDetails, dbService.service.ts</small>
        </div>
        <p class="mb-1">GET, POST</p>
      </a>
      <a href="https://angular.io/guide/lazy-loading-ngmodules" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Lazy loading modules</h5>
          <small class="text-muted">/admin</small>
        </div>
        <p class="mb-1">/admin</p>
      </a>
      <a href="https://github.com/reactivestack/cookies/tree/master/packages/universal-cookie" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Cookies</h5>
          <small class="text-muted">auth-user.service.ts, login.component.ts, dashboard.component.ts</small>
        </div>
        <p class="mb-1">universal-cookie</p>
      </a>
      <a href="https://www.npmjs.com/" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">External libraries</h5>
          <small class="text-muted">package.json, npm</small>
        </div>
        <p class="mb-1">bcryptjs, bootstrap, node-random-name, sweetalert2</p>
      </a>
      <a href="https://firebase.google.com/" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Database</h5>
          <small class="text-muted">No-SQL, JSON</small>
        </div>
        <p class="mb-1">Firebase</p>
      </a>
      <a href="https://ngdemo1.netlify.app" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Deployment</h5>
          <small class="text-muted">Netlify</small>
        </div>
        <p class="mb-1">https://ngdemo1.netlify.app</p>
      </a>
  </div>
</div>
